/* Cette page css me permet de créer le css ui va être appliquable sur toutes les pages */

/* Je viens mettre une image de fond que j'ai créer pour faire un fond personnalisé de mon cv. */
body {
    background-image: url("assets/img/fond/fond.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* Je viens retirer les décoration sur le texte et sur la liste. */
a {
    text-decoration: none;
}

ul {
    list-style: none;
}

html body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Mise en place du style de la nav version desktop. */
.desktop_nav {
    background-color: #f3e7ff;
    margin-left: 10%;
    margin-right: 10%;
    border: solid;
    border: 1px;
    border-radius: 20px;
    border-color: black;
}

.desktop_nav ul {
    display: flex;
    justify-content: space-around;
}
/* Mise en place du style de la nav version mobile. */
.mobile_nav {
    display: none
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
}

.burger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

/* Permet de cacher le mmenu mobile par défaut. */
.menu {
    display: none;
    flex-direction: column;
    background-color: #f3e7ff;
    padding: 10px;
}

.menu.show {
    display: flex;
}

/* Je viens mettre en place la responsive de la nav*/
@media (max-width : 765px) {
    .desktop_nav {
        display: none;
    }

    .mobile_nav {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
    }

    .mobile_nav ul {
        gap: 100px;
    }
}


/* Je viens créer la mise en page du footer */
footer {
    width: 100%;
    bottom: 0;
    left: 0;
    width: 100%;
    position: sticky;
}

footer a {
    display: flex;
    justify-content: space-around;
}

.document {
    margin: 20px;
}

.windows {
    background-color: white;
    border: 1px solid #b8a1d6;
}

.windows_header {
    background-color: #d3c3e6;
    padding: 5px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.windows_content {
    padding: 15px;
    color: #333;
    border: 1px solid #cec3db;
    background-color: #dad1e6;
}

@media (max-width : 765px) {
    .document {
        margin: 10px;
    }

    .windows_header {
        padding: 4px;
        font-size: 0.9em;
    }

    .windows_content {
        padding: 10px;
        font-size: 0.9em;
    }
}